package ui

templ Navbar() {
	<div class="navbar z-30 bg-base-100 border-b border-base-300 sticky">
		{ children... }
	</div>
}

templ NavbarStart() {
	<div class="navbar-start">
		{ children... }
	</div>
}

templ NavbarEnd() {
	<div class="navbar-end">
		{ children... }
	</div>
}

templ NavbarCenter() {
	<div class="navbar-center">
		{ children... }
	</div>
}
